.transparent{
    background-color: #ffffff00 !important;
}
.full{
    top: 0 !important;
    width: 100% !important;
    min-height: 100% !important;
}
.small{
    font-size: 10px  !important;
    line-height: 20px !important;
    height: 23px !important;
}
.wrapper {
    overflow: hidden;
    right: 0; 
}
.address{
    padding-bottom: 26px !important;
}
#slide {
    position: absolute;
    background-color: #A7CEEF;
    border: 5px solid #A7CEEF;
    border-top-left-radius: 20px !important;
    right: -80%;
    width: 60%;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    height: 140px;
    bottom: 0;
    padding-left: 15px;
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}
.containerb {
    position: relative;
    width: 100%;
  }
.imga{
    width: 70px;
    height: auto;
}
.imga-text{
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.imga-text-title{line-height: 100%;    margin: 0;}
.imgb{
    width: 100%;
    height: auto;

}
.overlayb{
    opacity: .9 !important;
    background-color: #A7CEEF;
    position: absolute; 
    bottom: 5%; 
    color: #cf1010; 
    padding: 15px 30px;
    height: 170px;
    width: 80%;
    color: rgb(255, 0, 0);
    font-size: 20px;
}
html, body { max-width: 100%; overflow-x: hidden; }
.pmaroon{
    background-color: #C9A3A4 !important ;
}
section {
    padding: 16px;
    margin: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .125);
    height: 64px;
  }
  .hide{opacity: 0;}
  .is-visible {
    opacity: 1;
    transform: none;
    display: flex; 
  }
/* .fade-item {
    transition: 3s all ease-in-out;
    opacity: 0;
} */ */

/* .fadein {
    animation: fadeIns 3s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIns {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
} */
.left-in{
    overflow-x: hidden;
    transform: translateX(-50%);
}
@media only screen and (max-width: 992px){
    img.logo{
        max-height: 80px;
        margin: 7px 0px 0px 0px
    }
    nav{
        height: 100px !important
    }

}
@media only screen and (min-width: 993px){
    img.logo{
        max-height: 100px;
        margin: 11px 0px 0px 13px !important
    }
    .nav-wrapper{
        height: 125px !important;
        
    }

}

.fab{
    z-index: 999 !important;
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed !important;
}
a.sidenav-trigger{
    color: #000;
}



nav ul a {
    font-size: 1.5rem;
    padding: 30px 15px !important;
}
nav{
    border: none !important;
    box-shadow: none !important;
}
.sidenav li>a, .sidenav li>a>i{
    color: #fff !important
}
nav, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 100px;
    line-height: 100px;
}
/* .carousel{
    min-height: 50vh !important
} */
.overlay{
        /* position: relative; */
        position: fixed;
        top: 0;
        width: 100%;
        display: table;
        margin-left: 5% !important;
}
.btn-block{
    width: 100%
}
.card_image{
    min-width:100px;
    height:270px;
    width: auto !important;
    left: -50 !important
}

blockquote{
    border-left: 5px solid #dbd79d !important;
}
.secondary{
    background-color: #dbb89d !important;
    color: rgb(236, 236, 236) !important;
    font-weight: 800;
    font-size: 18px
}
.text-secondary-title{
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: rgb(236, 236, 236);
}
.text-secondary{
    color: rgb(236, 236, 236) !important;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border: 1px solid rgb(236, 236, 236) !important;
    text-indent: 10px;
    border-radius: 5px !important;
    color:rgb(236, 236, 236) !important
}
nav ul a{
    color: rgb(236, 236, 236) !important;
    font-weight: 800;
    font-size: 1.4rem !important;
}
body{
    background-color: #dbb89d;
    color: rgb(236, 236, 236)
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }